/* All styles for your header Components live here */

.hContent {
    display: flex;
    margin-left: 15px;
}

.textWrapper {
    display: flex;
}

.icon {
    margin-right: 10px;
    width: 70px;
}

.name {
    font-size: 20px;
}

.date {
    font-size: 18px;
    color: lightgray;
    margin-left: 10px;
}

.header {
    width: 550px;
}